.card {
    cursor: default;
    width: 100px;
    height: 100px;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    border-radius: 10px;
}

.element {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
}
